	<%
		var tagsAtoZ = {};

		for(t in tags){
			var tag = tags[t];


			var tagInitial = tag.substr(2,1);
			if(!tagsAtoZ[tagInitial]){
				tagsAtoZ[tagInitial] = [];
			}
			tagsAtoZ[tagInitial].push(tag);
		}
 	%>

    <section id="page-banner" class="home-banner">
        <div class="container">
            <div class="banner-content">
                <h1>Tags</h1>
                <p class="lead">Tags are the core the display technology of Lucee Server.</p>
            </div>
        </div>
    </section>
    <hr>

    <nav>
        <ul class="pagination alphabet">
            <% for(initial in tagsAtoZ) { %>

            <li><a href="<%= "#" + initial %>"><%= initial %></a></li>

            <% } %>

        </ul>
    </nav>

<section id="tags">
	<div class="page-header">

	<div class="row">
		<div class="col-md-12">

		</div>
	</div>
	



	</div>



	<div class="row">
		<% for(initial in tagsAtoZ) { %>

			
			<div class="col-sm-4" id="<%= initial %>">
				<h4><%= initial.toUpperCase() %></h4>
				<cfset items = list.getItemsInGroup(al)>
				
				<ul>
					<% for(t in tagsAtoZ[initial]) {%>
					<% var tag = tagsAtoZ[initial][t]%>
						<li>
							<a href="/tag/<%= tag %>">

								<%= tag %>


							</a>
						</li>
					<% } %>
				</ul>
			</div>
		<% } %>
	</div>

</section>


	
	